<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/admin">Doctor List</a></li>
                <li routerLinkActive="active"><a routerLink="/adminappointments">Appointment List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/logout" (click)="onlogout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

