<app-header4></app-header4>
<div class="list-group-item">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
              <th>Appointment ID</th>
              <th>Patient Name</th>
              <th>Patient's Age</th>
              <th>Address</th>
              <th>Doctor Name</th>
              <th>Specialization</th>
              <th>Day</th>
              <th>Booked Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of appointments">
                <td>{{ i['appoint_id'] }}</td>
                <td>{{ i['pname'] }}</td>
                <td>{{ i['age']}}</td>
                <td>{{ i['address'] }}</td>
                <td>{{ i['dname'] }}</td>
                <td>{{ i['specialization']}}</td>
                <td>{{ i['day'] }}</td>
                <td>{{ i['slot'] }}</td>
            </tr>
        </tbody>
    </table>
</div>