<div class="list-group-item">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="doctor['imagepath']" class="img-responsive" style="max-height:300px">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ doctor['name'] }}({{ doctor['specialization'] }})</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Availability:</h4>
            <p>{{ doctor['available'] }}</p>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary" type="button" (click)="onbook()"> Book Appointment</button>
        </div>
    </div>
</div>



