.list-group-item{
    padding: 5%;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4{
    font-family: 'Times New Roman', Times, serif;
}

li{
    font-weight: 900;
}