<app-header2></app-header2>
<div class="list-group-item">
    <div class="row">
        <div class="col-md-12">
            <img [src]="doctor['imagepath']" class="img-responsive" style="max-height:200px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Name : {{doctor['name']}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Specialization : {{doctor['specialization']}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>email : {{doctor['email']}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Phone Number : {{doctor['number']}}</h4>
        </div>
    </div>
</div>

