<app-header></app-header>
<div class="continer text-center">
    <h3>Welcome to Patient Login Page!</h3>
</div>
<form (ngSubmit)="onlogin()" #f="ngForm">
    <div class="list-group-item">
        <label for="name">User Name</label>
        <br>
        <input class="form-control" type="text" id="name" [(ngModel)]="logindata.name" name="name" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input class="form-control" type="text" id="password" [(ngModel)]="logindata.password" name="password" required>
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">sign in</button>
        <div class="text-center signup">
            Don't have an account ? <a routerLink="/register">Register</a>
        </div>
    </div>
</form>



