/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://indiraiimp.edu.in/assets/images/iimp/banner/healthcare.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}