<div class="list-group-item">
    <form (ngSubmit)="updatedoctor()" #f="ngForm">
        <div class="row">
            <div class="col-md-10">
                <label for="fname">Full Name</label>
                <input class="form-control" type="text" id="fname" [(ngModel)]="doctordata.name" name="fname" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10">
                <label for="email">Email</label>
                <input class="form-control" type="text" id="email" [(ngModel)]="doctordata.email" name="email" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10">
                <label for="description">Specialization</label>
                <input class="form-control" type="text" id="description" [(ngModel)]="doctordata.specialization" name="specialization" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label for="number">Phone Number</label>
                <input class="form-control" type="text" id="number" [(ngModel)]="doctordata.number" name="number" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label for="image">Image Path</label>
                <input class="form-control" type="text" id="image" [(ngModel)]="doctordata.imagepath" name="imagepath" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label for="available">Availability</label>
                <input class="form-control" type="text" id="available" [(ngModel)]="doctordata.available" name="available" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label for="password"> Create Password</label>
                <input class="form-control" type="text" id="password" [(ngModel)]="doctordata.password" name="password" required>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">save</button>
        <button class="btn btn-danger" routerLink="/admin">Cancel</button>
    </form>
</div>
